<html>

<head>
    <meta charset="utf-8">
    <title>My Movies</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <style>
        .container {
            margin-top: 12px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Movie List</a>
    </nav>
    <div id="app" class="container">
        <form>
            <div class="form-group">
                <label for="input-title-ch">Title in Chinese</label>
                <input type="text" class="form-control" name="input-title-ch" placeholder="金牌特務" v-model="ch">
                <div v-bind:class="{'invalid-feedback': chError }">{{chErrMsg}}</div>
            </div>
            <div class="form-group">
                <label for="input-title-eng">Title in English</label>
                <input type="text" class="form-control" id="input-title-eng" placeholder="Kingsman"  v-model="eng" >
                <div v-bind:class="{'invalid-feedback': engError }">{{engErrMsg}}</div>
            </div>
            <div class="form-group">
                <label for="input-intro">Intro</label>
                <input type="text" class="form-control" id="input-intro" placeholder="是一部於2015年上映，由英國、美國合拍的諜報喜劇動作片..." v-model="intro">
                <div v-bind:class="{'invalid-feedback': introError }">{{introErrMsg}}</div>
            </div>
            <div id="button-insert" class="btn btn-primary"  @click='addNewList'>Insert</div>
            <div v-bind:class="{'invalid-feedback': passError }">{{passErrMsg}}</div>
        </form>
        <hr/>
        <ul class="list-group">
            <li v-for="movies in movies" class="list-group-item" v-bind:title='movies.movies'>
                <div class="movie-item">
                    <h3>{{movies.ch_name}}</h3>
                    <h4>{{movies.eng_name}}</h4>
                    <div class="movie-intro">{{movies.intro}}</div>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
      
 var app = new Vue({
    el: '#app',
    data: {
         movies: [],
        ch: '',
        chError: false,
        chErrMsg: '',
        eng: '',
        engError: false,
        engErrMsg: '',
        intro: '',
        introError: false,
        introErrMsg: '',
        pass: '',
        passError:false,
        passErrMsg:'',

    },
    mounted() {
        fetch('js/file/movie.json')
         .then(res => res.json())
         .then(movies => this.movies = movies);
      },
    watch: {
        ch: function () {
            if(this.ch.length < 1)
            {
                this.chError = true;
                this.chErrMsg = '請輸入至少1字元';
            }
            else if (this.ch.length > 50 ) {
                this.chError = true;
                this.chErrMsg = '字數限制50字內';  
            }
            else {
                this.chError = false;
            }
        },
        eng: function () {
            if (this.eng.length < 1) 
            {
                this.engError = true;
                this.engErrMsg = 'Please enter at least one character';
            }
            else if (this.eng.length > 100) {
                this.engError = true;
                this.engErrMsg = 'Please enter whithin 100 words';
            }
            else {
                this.engError = false;
            }
        },
        intro: function(){
            if (this.intro.length < 1) 
            {
                this.introError = true;
                this.introErrMsg = '請輸入至少1字元';
            }
            else if (this.intro.length > 255)
            {
                this.introError = true;
                this.introErrMsg = '字數限制255字以內';
            }
            else
            {
                this.introError = false;
            }
        }
    },
    methods:{
        addNewList:function(e){
            if(this.ch=='' || this.eng=='' || this.intro=='')
            {
                this.passError = true;
                this.passErrMsg = '請檢查上述欄位是否確實填寫';
            }
            else
            {
                this.movies.unshift({
                    ch_name:this.ch,
                    eng_name:this.eng,
                    intro:this.intro
                });

               
            }
            e.preventDefault();
            this.reset();
        },
        reset:function(){
            this.ch= ''
            this.chError= false
            this.eng= ''
            this.engError= false
            this.intro= ''
            this.introError= false
        }
    }
});

</script>

</html>